@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');

$body-font-family: 'Poppins';
$body-font-family-second: 'Montserrat';
$title-font: 'Poppins';
$title-font-second: 'Montserrat';

//body::-webkit-scrollbar {
//  display: none;
//}
//
///* Hide scrollbar for IE, Edge and Firefox */
//html, body {
//  -ms-overflow-style: none;  /* IE and Edge */
//  scrollbar-width: none;  /* Firefox */
//}

html {
  overflow: auto;
  overflow-x: hidden;
}

html {
  &::-webkit-scrollbar { // the scrollbar.
    width: 6px;
    background: #ffffff;
  }
  &::-webkit-scrollbar:hover {
  }
  &::-webkit-scrollbar-button { // the buttons on the scrollbar (arrows pointing upwards and downwards).
    display: none;
  }
  &::-webkit-scrollbar-thumb {  // the draggable scrolling handle.
    background: #92d6fc;
  }
}

.full-height {
  height: 100%;
}

.viewer-footer {
  .viewer-toolbar ul {
    li {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li[data-viewer-action=play],
    li[data-viewer-action=reset] {
      display: none;
    }
    li[data-viewer-action=prev] {
      margin-right: 5px;
    }
    li[data-viewer-action=prev]:before {
      margin-right: 5px;
    }
    li[data-viewer-action=next]:before {
      margin-left: 5px;
    }
  }
}

