@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');

$body-font-family: 'Poppins';
$body-font-family-second: 'Montserrat';
$title-font: 'Poppins';
$title-font-second: 'Montserrat';

body {
  overflow-y: hidden;
}
